p {
  color: rgb(172, 116, 11);
  font-size: 25px;
}


.tipoA {
  color: rgb(28, 212, 28);
  font-size: 40px;
}

.tipoA:hover {
  color: rgb(255, 0, 0);
  text-decoration: underline;
}

ol li {
  color: rgb(0, 0, 255);
}

ol li:first-child {
  color: rgb(255, 0, 0);
}

ol li:last-child {
  color: rgb(0, 0, 0);
}

ol li:nth-child(2) {
  color: rgb(194, 117, 44);
}