<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {{> header}}
    <title>Principal</title>
</head>
<body>
    {{> top}}

    <br/><br/><br/>
    Anar a la pàgina de <a href="/cities">ciutats</a>
    <br/><br/><br/>
    Pàgina principal
    <br/><br/><br/>

    {{> footer}}
</body>
</html>